<h1>This is the curriculum show page</h1>
<%= @curriculum.name %>

<br />

<% @curriculum.lessons.each do |lesson| %>
  <%= link_to "#{lesson.name}", curriculum_lesson_path(curriculum_id: @curriculum.id, id: lesson.id) %>
<% end %>

<br />

<%= link_to "create new lesson", new_curriculum_lesson_path(@curriculum) %>

<%= link_to "edit", edit_curriculum_path(@curriculum) %>

<%= link_to "delete", curriculum_path(@curriculum), method: :delete %>
