<h1>This is the index page </h1>
<% if current_user.blank? %>
  <%= link_to "new account", new_user_registration_path %>
  <br />
  <%= link_to "log in", new_user_session_path %>
<% else %>
  <%= link_to "log out", destroy_user_session_path, method: :delete %>
  <%= link_to "my page", user_path(current_user) %>
<% end %>

<br />
<%= link_to "View Curriculums", curriculums_path %>
